[package]
name = "mimium-lang"
version = "0.0.1"
license = "MPL 2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
# [lib]


[dependencies]

chumsky = "0.9"
ariadne = "0.1.5"
log = "0.4.22"
string-interner = "0.17.0"
id-arena = "2.2.1"
