[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.25.1"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = [
] # we don't use this because the installer script does not copy bundled assets.
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-gnu",
    "x86_64-pc-windows-msvc",
]
# Extra static files to include in each App (path relative to this Cargo.toml's dir)
include = ["./mimium-cli/lib/", "./mimium-cli/examples/", "Readme.md"]
# The archive format to use for non-windows builds (defaults .tar.xz)
unix-archive = ".zip"
# The archive format to use for windows builds (defaults .zip)
windows-archive = ".zip"

[dist.dependencies.apt]
libasound2-dev = "*"

[dist.github-custom-runners]
x86_64-unknown-linux-gnu = "ubuntu-latest"
